BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
TabWidth: 2
UseTab: Never

# Braces
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Pointers
PointerAlignment: Right
DerivePointerAlignment: false

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Formatting
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true

# Comments
ReflowComments: true
SpacesBeforeTrailingComments: 2

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
